#textBlock {
    min-height: 100px;
    min-width: 300px;
    border: 1px solid black;
    width: 300px;
    position: absolute;
    overflow: hidden;
}

#blockResize {
    width: 12px;
    height: 12px;
    background-color: black;
    left: 288px;
    bottom: 0px;
    cursor: nw-resize;
    position: absolute;
}