table {
    border-collapse: collapse;
}

caption {
    color: blue;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

th, td {
    font-size: 30px;
    font-weight: bold;
    border: 2px solid black;
    width: 70px;
    height: 60px;
}
